.formulario{
    /* Group 6 */

position: absolute;
width: 200px;
height: 91px;
left: 261px;
top: 201px;


}

.input{
    /* Rectangle 11 */
margin: 3px;
padding: 5px;
padding-right: 20px;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #F0EEEE;
border-radius: 5px;

}

.button{



width: 162px;
height: 25px;
left: 261px;
top: 267px;



/* Rectangle 15 */


left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FF0000;
border-radius: 5px;


}